.entire-bar {
    width: 280px;
    height: 10px;

    border-radius: 20px;

    background: #cfcfcf;
    margin-bottom: 10px;

    .value-bar {
        height: 10px;
        //width: 30px;

        border-radius: 20px;

        //background: red;

    }
}