.att-content {
    
    .entire-bar {
        width: 280px;
        height: 10px;
    
        border-radius: 20px;
    
        background: #cfcfcf;
        margin-bottom: 20px;
        overflow: hidden;
    
        .value-bar {
            height: 10px;
    
            border-radius: 20px;

            animation: animate 1s linear;
            animation-iteration-count: 1;

            overflow: hidden;

            @keyframes animate{
                from {margin-left: -90%;}
                to {margin-left: 0%;}
            }
    
        }
    }
}
