.poke-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    box-shadow: 0px 6px 2px 0px rgba(0, 0, 0, 0.2);

    border-radius: 20px;

    overflow: hidden;

    z-index: 1;

    .card-id {
        width: 100%;
        
        text-align: left;
        
        top: 0;
        left: 0;

        .card-id-container {
            background: #93ff50;
            border-radius: 0 0 10px 0;
            width: fit-content;
            padding: 3px 10px 0px 10px;

            span {
                font-size: 12px;
                font-family: 'Press Start 2P', cursive;
            }
        }

    }

    img {
        height: 100px;
        width: 100px;

        margin-bottom: 20px;
    }

    .card-content-text {
        display: flex;
        flex-direction: column;
        text-align: start;
        //align-items: flex-start;

        color: #333;

        p {
            font-family: 'Press Start 2P', cursive;
            font-size: 10px;
        }

        h1 {
            padding-top: 10px;

            font-family: 'Press Start 2P', cursive;
            font-size: 23px;
        }

        .pokemon-types {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
            margin-top: 20px;
            justify-content: center;
        }
    }

}