#home-page {
    height: 100vh;
    width: 100vw;

    overflow: auto;
    
    text-align: center;

    background-color: #d0d3d4 ;

    .image-logo {
        width: 100vw;
        height: fit-content;
        position: relative;
        margin-bottom: 80px;

        img {
            height: 200px;
            width: 500px;
        }
    }

    .image-background {
        height: 100vh;
        width: 100vw;

        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        //background: black;
        
        overflow: auto;

        img {
            height: 500px;
            width: 500px;

            opacity: 0.4;
        }
    }

}